/* * {
  box-sizing: border-box;
} */

:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --sub-heading-font-family: "Poppins", sans-serif;
}

.hero-section {
  text-align: center;
  background-color: var(--primary-color);
  padding: 170px 0px;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}

h4 {
  font-family: var(--sub-heading-font-family);
  font-size: 36px;
  font-weight: bold;
}

.intro-paragraph {
  padding-top: 5px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: normal;
  font-family: var(--sub-heading-font-family);
}

.body-paragraph {
  font-family: var(--sub-heading-font-family);
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 80px;
  line-height: 2;
  opacity: 70%;
}

.hero-section a,
.footer a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 4px;
  font-family: var(--sub-heading-font-family);
  font-weight: medium;
  font-size: 18px;
  line-height: 2;
  padding: 15px 30px;
  text-decoration: none;
}
.hero-section a:hover {
  color: black;
}
.location {
  font-size: 24px;
  font-weight: normal;
  color: #272142;
  margin-bottom: 50px;
}
.body-paragraph {
  font-size: 16px;
  font-weight: normal;
  color: #272142;
}

.yogurt-description {
  padding: 0 50px;
  margin-top: 70px;
  margin-bottom: 180px;
}

.ruler {
  display: none;
}

.dico-description {
  padding: 0 40px;
}

.yogurt-btn,
.weather-btn,
.dico-btn {
  background-color: white;
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  border-radius: 4px;
  font-family: var(--sub-heading-font-family);
  font-weight: medium;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}

.yogurt-btn:hover,
.weather-btn:hover,
.dico-btn:hover {
  text-decoration: none;
  color: black;
}
.footer {
  background-color: var(--primary-color);
  margin: 0px 40px;
  border-radius: 20px;
  padding: 50 90px;
}

.talk-btn {
  margin-top: 50px;
  padding-top: 20px;
}

.socials {
  text-align: center;
  margin-top: 70px;
}

.socials a {
  color: black;
  font-size: 24px;
  font-weight: medium;
  font-family: var(--sub-heading-font-family);
}

.socials a:hover {
  text-decoration: none;
}

.socicons {
  margin-top: 30px;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0px;
  text-align: center;
}
li {
  display: inline;
  font-size: 18px;
  margin: 15px;
  color: #6c63ff;
}
.footer-text {
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 0px;
}

@media (max-width: 900px) {
  h1 {
    text-align: center;
    font-size: 60px;
  }

  h2,
  h3 {
    text-align: center;
    font-size: 40px;
  }
  .body-paragraph {
    /* margin: 10px; */
    margin: 0 auto;
    /* margin-bottom: 25px; */
  }

  .yogurt-description {
    margin: 0px;
  }

  .yogurt-btn,
  .weather-btn,
  .dico-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .ruler {
    display: block;
    margin-top: 50px;
  }

  .footer-text h3 {
    margin-top: 15px;
  }
}
