/* * {
  box-sizing: border-box;
} */

:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --sub-heading-font-family: "Poppins", sans-serif;
}

.hero-section {
  text-align: center;
  background-color: var(--primary-color);
  padding: 170px 0px;
}

h4 {
  font-family: var(--sub-heading-font-family);
  font-size: 36px;
  font-weight: bold;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}

p {
  font-family: var(--sub-heading-font-family);
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 70px;
  line-height: 2;
  opacity: 70%;
}

.hero-section a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 4px;
  font-family: var(--sub-heading-font-family);
  font-weight: medium;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}
.hero-section a:hover {
  color: black;
}

.body-paragraph {
  font-size: 16px;
  font-weight: normal;
  color: #272142;
}

.yogurt-description {
  padding: 0 40px;
}

.yogurt-btn,
.weather-btn,
.dico-btn {
  background-color: white;
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  border-radius: 4px;
  font-family: var(--sub-heading-font-family);
  font-weight: medium;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}

.yogurt-btn:hover,
.weather-btn:hover,
.dico-btn:hover {
  text-decoration: none;
  color: black;
}
